name: macos

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        ocaml-compiler: [4.14.x, 5.2.x]

    runs-on: macos-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Use OCaml ${{ matrix.ocaml-compiler }}
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: ${{ matrix.ocaml-compiler }}

      - run: opam install . --deps-only
      - run: opam exec -- dune build @install
      - run: opam install . --deps-only -t
      - run: opam exec -- dune runtest
      - run: opam config report
      - run: opam install .
      - run: opam exec opam-oui --help

      - name: Test alt-ergo package
        run: bash .github/scripts/test-alt-ergo.sh macos

      - name: Test frama-c and metacsl plugin installation
        run: bash .github/scripts/test-frama-c-plugin.sh