name: macos

on:
  pull_request:
  push:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        ocaml-compiler: [4.14.x, 5.2.x]

    runs-on: macos-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Use OCaml ${{ matrix.ocaml-compiler }}
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: ${{ matrix.ocaml-compiler }}

      - run: opam install . --deps-only
      - run: opam exec -- dune build @install
      - run: opam install . --deps-only -t
      - run: opam exec -- dune runtest
      - run: opam config report
      - run: opam install .
      - run: opam exec opam-oui --help

      - name: Fetch alt-ergo artifacts from branch
        run: |
          git remote add arozovyk https://github.com/arozovyk/ocaml-universal-installer.git
          git fetch arozovyk alt-ergo-mac-builds
          git checkout arozovyk/alt-ergo-mac-builds -- ok alt-ergo-oui.json semantic_triggers.ae

      - name: Build alt-ergo pkg
        run: opam exec -- oui alt-ergo-oui.json ok

      - name: Install alt-ergo pkg
        run: sudo installer -pkg alt-ergo-dev.pkg -target /

      - name: Verify alt-ergo installation
        run: alt-ergo --version

      - name: Test alt-ergo with semantic triggers
        run: alt-ergo --inequalities-plugin fm-simplex -o smtlib2 semantic_triggers.ae
